Options -Indexes +ExecCGI
AddHandler cgi-script .cgi .pl
##------Forceer HTTPS verbinding geheel domein------##
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]
##

# Canonical HTTPS/non-WWW
<IfModule mod_rewrite.c>
	RewriteCond %{HTTPS} off [OR]
	RewriteCond %{HTTP_HOST} ^www\remsey\.nl[NC]
	RewriteRule (.*) https://www.remsey.nl/$1 [L,R=301]
</IfModule>